env:
  global:
        
        - REPO_DIR=osqp-python
        #- DOCKER_IMAGE=quay.io/pypa/manylinux2014_aarch64
        # Commit from your-project that you want to build
        - BUILD_COMMIT=v0.6.1
        # Build against older version of Numpy supported
        - NP_BUILD_DEP="numpy==1.13.3"
        - NP_TEST_DEP="numpy==1.13.3"
        # pip dependencies to _build_ your project
        - BUILD_DEPENDS="numpy scipy future"
        # pip dependencies to _test_ your project.  Include any dependencies
        # that you need, that are also specified in BUILD_DEPENDS, this will be
        # a separate install.
        - TEST_DEPENDS="numpy scipy future pytest"
        - PLAT=x86
        - UNICODE_WIDTH=32
        # BINTRAY_API_KEY
        - secure: "U6ihXmjRVmJkmOfNagKxG8W3VcERrBl65e9GxvzEx8BoU/ifrRCQEc7CZMliMBVWUXTSZUe3jEuGl0voqi59/0yQgY2pf/AH0AAKUvuTvJ/9qiTyLKuii8K4mM/0SafJPHwSho6W9EoKpzvMNKCSEGGsD7ogF5jEthzIFWqOUnoUeK9hOdrzwz33Xl1xvQNF/mpCmehHc4DIu2zsW3pyftetJ86cVzGA5RgsnwPBh/lrD8qSX8rjJjS83itzQjkAGx5O9M1ouNWwctrQmLJE+fzHwNiH2o7XG8ZlvKQY1uvFS+UpLmAuZaoQlJqiBnT2iL19qUrx+Cqq179kHRsEQUssnpXmtadcAj145uHi2DcDD22HVSzYXge91g4475KZRqbvuP1/WnrnBUxJY/fW4zmqi/a5FfPwT2t2QF2WqNQilZ5fgiq9vx/ekjGL1oJ7sM6GE8HRud9LUo7zx1YjgY4C8nzibJxpISYdEEC9u09Y8H4vIqn7+BQ5M4gnUOO9ADDZ9+SqoD/tJAN+V5vrU2VmAyYlpeuJ92zf7FwwAE4RowmjCeJleuH88tySA4fpDExcE3ym6kFZ649PezrfAlVMhWzPU0RGJj1NtmjDEHn3qWmVmSk4VHZf595HZlyemLEDCQnpxTRdgTACWAFYzGQE3dkiT7LDMBPD2f7yskk="
        - WHEELHOUSE_UPLOADER_USERNAME=travis-worker
        # Following generated with
        # travis encrypt -r your-org/your-project-wheels WHEELHOUSE_UPLOADER_SECRET=<the api key>
        # This is for Rackspace uploads.  Contact Matthew Brett, or the
        # scikit-learn team, for # permission (and the API key) to upload to
        # the Rackspace account used here, or use your own account.
        - secure:
            "MNKyBWOzu7JAUmC0Y+JhPKfytXxY/ADRmUIMEWZV977FLZPgYctqd+lqel2QIFgdHDO1CIdTSymOOFZckM9ICUXg9Ta+8oBjSvAVWO1ahDcToRM2DLq66fKg+NKimd2OfK7x597h/QmUSl4k8XyvyyXgl5jOiLg/EJxNE2r83IA="

language:        python
# The travis Python version is unrelated to the version we build and test
# with.  This is set with the MB_PYTHON_VERSION variable.
python:          3.6
sudo:            required
dist:            trusty
services:        docker

matrix:
  include:
    # Linux
    - os:        linux
      arch: arm64
      env:
        - MB_PYTHON_VERSION=3.7
        - DOCKER_IMAGE=quay.io/pypa/manylinux2014_aarch64
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.5
        - PLAT=i686
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.6
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.6
        - PLAT=i686
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.7
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.7
        - PLAT=i686
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.8
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.8
        - PLAT=i686
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.9
    - os:        linux
      env:
        - MB_PYTHON_VERSION=3.9
        - PLAT=i686

    # OSX
    #- os:        osx
    #  osx_image: xcode8.3
    #  language:  generic
    #  env:
    #    - MB_PYTHON_VERSION=3.5
    #- os:        osx
    #  osx_image: xcode8.3
    #  language:  generic
    #  env:
    #    - MB_PYTHON_VERSION=3.6
    #- os:        osx
    #  osx_image: xcode8.3
    #  language:  generic
    #  env:
    #    - MB_PYTHON_VERSION=3.7
    #- os:        osx
    #  osx_image: xcode8.3
    #  language:  generic
    #  env:
    #    - MB_PYTHON_VERSION=3.8
    #- os:        osx
    #  osx_image: xcode8.3
    # language:  generic
    #  env:
    #    - MB_PYTHON_VERSION=3.9

before_install:
    - source multibuild/common_utils.sh
    - source multibuild/travis_steps.sh
    - before_install

install:
    # Maybe get and clean and patch source
    - clean_code $REPO_DIR $BUILD_COMMIT
    - build_wheel $REPO_DIR $PLAT

script:
    - if [[ $PLAT != "aarch64" ]]; then install_run $PLAT; fi

after_success:
    # Upload to bintray
    - for f in ${TRAVIS_BUILD_DIR}/wheelhouse/osqp*; do echo "Uploading $f"; curl -T $f -ubstellato:$BINTRAY_API_KEY -H "X-Bintray-Package:osqp-wheels" -H "X-Bintray-Version:${BUILD_COMMIT}" -H "X-Bintray-Override:1" https://api.bintray.com/content/bstellato/generic/osqp-wheels/${BUILD_COMMIT}/; done
     # Publish
    - curl -X POST -ubstellato:$BINTRAY_API_KEY https://api.bintray.com/content/bstellato/generic/osqp-wheels/${BUILD_COMMIT}/publish
